torch==2.7.0
flash-attn==2.7.4.post1
evo-model
tensordict
transformers
psutil
numpy
pandas
scikit-learn
pyarrow
scipy
matplotlib
seaborn
statsmodels
h5py
tqdm
biopython
pyfaidx
zstandard
joblib
numba
scikit-bio
umap-learn
